% vim: ts=4 sw=4 et ft=erlang

{lib_dirs, ["deps"]}.

{deps, [
    {node_mon, "1.0.3",
        {git, "git@github.com:EchoTeam/node_mon.git", {tag, "v1.0.3"}}}
]}.

{sub_dirs, ["rel"]}.


{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

%{cover_enabled, true}.
%{cover_export_enabled, true}.
%{cover_export_file, "all.coverdata"}.

% Rebar plugins
{plugin_dir, "rebar_plugins"}.

{plugins, [
    rebar_lock_deps_plugin
]}.

{post_hooks, [
    {clean, "rm -rf rel/{{name}}*"},
    {clean, "rm -rf rel/reltool.config"}
]}.
