% vim: ts=4 sw=4 et ft=erlang

{erl_opts, [
    {parse_transform, lager_transform},
    {lager_truncation_size, 4096},
    debug_info
]}.

{lib_dirs, ["deps"]}.

{deps, [
    %%% Note: keep these deps first and in this order:
    {lager, "2.0.1",
        {git, "git://github.com/basho/lager.git",
            {tag, "2.0.1"}}},
    {echo_rebar_plugins, ".*",
        {git, "git@github.com:EchoTeam/rebar-plugins.git",
            {branch, "master"}}},
    %%% /Note

    {lager_syslog, "2.0.1",
        {git, "git://github.com/basho/lager_syslog.git",
            {tag, "2.0.1"}}},
    {sync, ".*",
        {git, "git://github.com/rustyio/sync.git",
            {branch, "master"}}},
    {corman, ".*",
        {git, "git@github.com:EchoTeam/corman.git",
            {branch, "master"}}}
]}.

{sub_dirs, ["rel"]}.


{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

%{cover_enabled, true}.
%{cover_export_enabled, true}.
%{cover_export_file, "all.coverdata"}.

{plugins, [
    rebar_lock_deps_plugin,
    rebar_genappup_plugin
]}.
