[
%% SASL config
{sasl, [
    {sasl_error_logger, {file, "/var/log/{{name}}/sasl-error.log"}},
    {errlog_type, error}
   ]},
{lager, [
        {error_logger_redirect, true},
        {crash_log, "/var/log/{{name}}/crash.log"},
        {handlers,
            [
             
             {lager_file_backend, [{file, "/var/log/{{name}}/report.log"}, {level, info}]}
            ]
         }
         ]},

{node_mon, [ 
    {start_expectations, [application_loaded, node_ready]}
    ] }        
].

