[

%%% Static part (common for all environments)

{sasl, [
    {sasl_error_logger, {file, "{{log_dir}}/sasl-error.log"}},
    {errlog_type, error}
]},

{lager, [
    {error_logger_redirect, true},
    {crash_log, "{{log_dir}}/crash.log"},
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "{{log_dir}}/report.log"}, {level, info}]},
        {lager_syslog_backend, ["{{service_name}}", local3, debug]}
    ]}
]},

{sync, [
    {log, all},
    {non_descendants, allow}
]},

%%% Dynamic part (differs from one environment to another)
"{{config_dir}}/app.config"

].
